<div class="container">
  <div class="innerContainer">
    <div class="text">
      Contact Me
    </div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/jean-luc-christoph-dittler-b95064137/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/DerDeathraven" target="_blank"><i class="fa-brands fa-github-square"></i></a>
      <a href="mailto:jean-luc@jlcd.de?subject=About your website"><i class="fa-solid fa-envelope"></i></a>
      <a href="/pdf/CV.pdf"><i class="fa-solid fa-file-pdf" target="_blank"></i></a>
    </div>
  </div>
</div>
