<div class="row">

  <div class="card">
    <div class="info">
      <ul class="fa-ul">
        <li class="aboutMeListItem" ><span class="fa-li"><i class="fa-solid fa-cake-candles"></i></span>{{age}}</li>
        <li class="aboutMeListItem" ><span class="fa-li"><i class="fa-solid fa-graduation-cap"></i></span>Abitur</li>
        <li class="aboutMeListItem" ><span class="fa-li"><i class="fa-solid fa-school"></i></span>UzL</li>
        <li class="aboutMeListItem" ><span class="fa-li"><i class="fa-solid fa-book-open-reader"></i></span>IT-Sicherheit</li>
        <li class="aboutMeListItem" ><span class="fa-li"><i class="fa-brands fa-node-js"></i></span>Fullstack</li>
        <li class="aboutMeListItem" ><span class="fa-li"><i class="fa-solid fa-map-location-dot"></i></span>Geesthacht</li>
    </ul>
    </div>
    <div class="zitat">
      Thinking different is a passion of mine.
    </div>
  </div>

</div>
